<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <meta charset="utf-8">
    <title>Sand5rang</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">    
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
   

</head>
<body>
    <h2>문의게시판 </h2><hr>
    <table border="1">
        <form action="test.do">
             <select name="category">
                <option value="date">작성일</option>
                <option value="writer">작성자</option>
                
        </form>
       
        <thead>
            <tr>
                <th width="50">글번호</th>
                <th width="450">제목</th>
                <th width="100">작성자</th>
                <th width="100">작성일</th>
                <th width="100">답변상태</th>
            </tr>
        </thead>
        <tbody> 
            <tr>
                <td>4</td>
                <td>문의드립니다.</td>
                <td>강남구청점</td>
                <td>2022.04.07</td>
                <td>답변대기</td>
            </tr>

        <tr>
             <td>3</td>
             <td>재고관련 문의드립니다.</td>
             <td>봉은사역점</td>
             <td>2020.12.22</td>
             <td>2020.12.23</td>
         </tr>
         <tr>
            <td>2</td>
            <td>문의합니다.</td>
            <td>청계천점</td>
            <td>2020.10.02</td>
            <td>2020.10.02</td>

         </tr>
         <tr>
            <td>1</td>
            <td>문의합니다.</td>
            <td>금천구청점</td>
            <td>2020.03.30</td>
            <td>2020.03.30</td>


         </tr>
         </tbody>

    </table>

</body>
</html>