<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrap">
       
        <div class="content">
            <div class="content_title">
                 <div>
                     1:1문의글 상세
                     <br>
                     <hr>
                 </div>
                 <hr>
            </div>
            
            
             <div class="content_detail">
                 <div class="cd_table">
                     <table border>
                         <tr>
                             <th width="200">글번호</th>
                             <td width="700">50</td>
                         </tr>
                         <tr>
                             <th>제목</th>
                             <td>문의합니다.</td>
                         </tr>
                         <tr>
                             <th>작성자</th>
                             <td>선릉점</td>
                         </tr>
                         <tr>
                             <th>작성일</th>
                             <td>2022-06-26</td>
                         </tr>
                         <tr>
                             <th>답변상태</th>
                             <td>답변완료</td>
                         </tr>
                     </table>
                 </div>
                
             </div>
         </div>
     
     </div>
    
</body>
</html>