<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hyunsikMapper">

	<resultMap id="indentResultSet" type="com.s5.sand5rang.hyunsik.vo.Indent">
		<result column="IND_NO" property="indNo" />
		<result column="COUNT" property="count" />
		<result column="IND_DATE" property="date" />
		<result column="TOTAL" property="total" />
		<result column="STATUS" property="status" />
		<result column="STORE_ID" property="storeId" />
		<result column="ING_NO" property="ingNo" />
	</resultMap>

	<select id="ad1ListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM
		(SELECT STORE_ID, ROW_NUMBER() OVER(PARTITION BY STORE_ID ORDER BY IND_NO DESC) AS rn
		FROM INDENT 
		WHERE STATUS = 'B' OR STATUS = 'AB' AND
		TO_NUMBER(TO_CHAR(IND_DATE, 'YYMMDDHHMMSS')) 
		BETWEEN 
		(CASE WHEN TO_NUMBER(TO_CHAR(SYSDATE, 'HHMMSS')) <![CDATA[<]]> 150000 THEN TO_NUMBER((TO_CHAR(SYSDATE-1, 'YYMMDD') || 150000))
		ELSE TO_NUMBER((TO_CHAR(SYSDATE, 'YYMMDD') || 150000)) END)
		AND 
		(CASE WHEN TO_NUMBER(TO_CHAR(SYSDATE, 'HHMMSS')) <![CDATA[<]]> 150000 THEN TO_NUMBER((TO_CHAR(SYSDATE, 'YYMMDD') || 149999))
		ELSE TO_NUMBER((TO_CHAR(SYSDATE+1, 'YYMMDD') || 149999)) END)
		ORDER BY IND_NO DESC)
		 WHERE rn = 1
	</select>
	
  	<select id="selectAd1List" resultType="string">
		SELECT STORE_ID
		  FROM
		(SELECT STORE_ID, ROW_NUMBER() OVER(PARTITION BY STORE_ID ORDER BY IND_NO DESC) AS rn
		FROM INDENT 
		WHERE (STATUS = 'B' OR STATUS = 'AB') AND
		TO_NUMBER(TO_CHAR(IND_DATE, 'YYMMDDHHMMSS')) 
		BETWEEN 
		(CASE WHEN TO_NUMBER(TO_CHAR(SYSDATE, 'HHMMSS')) <![CDATA[<]]> 150000 THEN TO_NUMBER((TO_CHAR(SYSDATE-1, 'YYMMDD') || 150000))
		ELSE TO_NUMBER((TO_CHAR(SYSDATE, 'YYMMDD') || 150000)) END)
		AND 
		(CASE WHEN TO_NUMBER(TO_CHAR(SYSDATE, 'HHMMSS')) <![CDATA[<]]> 150000 THEN TO_NUMBER((TO_CHAR(SYSDATE, 'YYMMDD') || 149999))
		ELSE TO_NUMBER((TO_CHAR(SYSDATE+1, 'YYMMDD') || 149999)) END)
		ORDER BY IND_NO DESC)
		 WHERE rn = 1
  	</select>
  	
  	<select id="selectIndLIst" resultMap="indentResultSet" parameterType="string">
		SELECT IND_NO, COUNT, TO_CHAR(IND_DATE, 'YY.MM.DD') IND_DATE, TOTAL, STATUS, STORE_ID, ING_NO
		FROM INDENT
		WHERE STORE_ID = #{id} AND
		(STATUS = 'B' OR STATUS = 'AB') AND
		TO_NUMBER(TO_CHAR(IND_DATE, 'YYMMDDHHMMSS')) 
		BETWEEN 
		(CASE WHEN TO_NUMBER(TO_CHAR(SYSDATE, 'HHMMSS')) <![CDATA[<]]> 150000 THEN TO_NUMBER((TO_CHAR(SYSDATE-1, 'YYMMDD') || 150000))
		ELSE TO_NUMBER((TO_CHAR(SYSDATE, 'YYMMDD') || 150000)) END)
		AND 
		(CASE WHEN TO_NUMBER(TO_CHAR(SYSDATE, 'HHMMSS')) <![CDATA[<]]> 150000 THEN TO_NUMBER((TO_CHAR(SYSDATE, 'YYMMDD') || 149999))
		ELSE TO_NUMBER((TO_CHAR(SYSDATE+1, 'YYMMDD') || 149999)) END)
		ORDER BY IND_NO DESC
  	</select>

</mapper>
