<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sangmiMapper">

 <resultMap id="enrollResultSet" type="com.s5.sand5rang.sangmi.vo.Enroll">
   <result column="ENROLL_NO" property="enrollNo" />
   <result column="STORE_NAME" property="storeName" />
   <result column="ENROLL_ADD" property="enrollAdd" />
   <result column="EMAIL" property="email" />
   <result column="PHONE" property="phone" />
   <result column="TITLE" property="title" />
   <result column="CONTENT" property="content" />
   <result column="STATUS" property="status" />
 </resultMap>

 <resultMap id="storeResultSet" type="com.s5.sand5rang.sangmi.vo.Store">
  <result column="STORE_ID" property="storeId" />
  <result column="STORE_PWD" property="storePwd" />
  <result column="STORE_NAME" property="storeName"/>
  <result column="ADDRESS" property="address" />
  <result column="STATUS" property="status" /> 
   <result column="EMAIL" property="email" />
   <result column="PHONE" property="phone" />
 </resultMap>
 
 <!-- 게시글 총 갯수 조회 -->
 <select id="selectListCount" resultType="_int">
  SELECT COUNT(*)
  FROM STORE
 </select>
 <!--가맹점 전체리스트 조회-->
  <select id="storeList" resultMap="storeResultSet">
	 SELECT S.STORE_NAME, S.STORE_ID, S.ADDRESS, E.PHONE, E.EMAIL 
	 FROM STORE S 
	 JOIN ENROLL E USING(ENROLL_NO)
  </select>

<!--가맹가입신청 list 조회  -->

<select id="storeEnrollList" parameterType="com.s5.sand5rang.sangmi.vo.Enroll" resultMap="enrollResultSet">
 SELECT ENROLL_NO,STORE_NAME, PHONE, EMAIL, ENROLL_ADD, STATUS 
 FROM ENROLL
</select>

<!-- 가맹가입신청 상세페이지 -->
<select id="storeEnrollDetail" parameterType="com.s5.sand5rang.sangmi.vo.Enroll" resultMap="enrollResultSet">
SELECT STORE_NAME,PHONE, EMAIL, ENROLL_ADD, TITLE, CONTENT
FROM ENROLL
WHERE STATUS = 'B'
</select>

</mapper>
