<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sangmiMapper">

 <resultMap id="enrollResultSet" type="com.s5.sand5rang.sangmi.vo.Enroll">
   <result column="ENR_NO" property="enrNo" />
   <result column="STORE_NAME" property="storeName" />
   <result column="ENROLL_ADD" property="enrollAdd" />
   <result column="EMAIL" property="email" />
   <result column="PHONE" property="phone" />
   <result column="TITLE" property="title" />
   <result column="CONTENT" property="content" />
   <result column="STATUS" property="status" />
 </resultMap>

 <resultMap id="storeResultSet" type="com.s5.sand5rang.sangmi.vo.Store">
  <result column="STORE_ID" property="storeId" />
  <result column="STORE_PWD" property="storePwd" />
  <result column="STORE_NAME" property="storeName"/>
  <result column="ADDRESS" property="address" />
  <result column="STATUS" property="status" /> 
   <result column="EMAIL" property="email" />
   <result column="PHONE" property="phone" />
 </resultMap>
 
 <resultMap id="inqueryResultSet" type="com.s5.sand5rang.sangmi.vo.Inquery">
   <result column="INQ_NO" property="inqNo" />
   <result column="INQ_TITLE" property="inqTitle" />
   <result column="INQ_DATE" property="inqDate" />
   <result column="INQ_QUERY" property="inqQuery" />
   <result column="INQ_ANSWER" property="inqAnswer" />
   <result column="STATUS" property="status" />
   <result column="ANS_DATE" property="ansDate" />
   <result column="CATEGORY" property="category" />
   <result column="STORE_ID" property="storeId" />
 </resultMap>
 
 
 <!-- 게시글 총 갯수 조회 -->
 <select id="selectListCount" resultType="_int">
  SELECT COUNT(*)
  FROM STORE
 </select>
 <!--가맹점 전체리스트 조회-->
  <select id="storeList" resultMap="storeResultSet">
	 SELECT S.STORE_NAME, S.STORE_ID, S.ADDRESS, E.PHONE, E.EMAIL
	 FROM STORE S 
	 JOIN ENROLL E USING(ENR_NO)
  </select>
  
  <!-- 폐업 버튼 -> 삭제 -->
   <update id="storeclose" parameterType="_int">
    UPDATE STORE
       SET STATUS = 'N'
      WHERE ENR_NO = #{enrNo} 
   </update>
   
<!--가맹가입신청 list 조회  -->

<select id="storeEnrollList" parameterType="com.s5.sand5rang.sangmi.vo.Enroll" resultMap="enrollResultSet">
 SELECT ENR_NO,STORE_NAME, PHONE, EMAIL, ENROLL_ADD, STATUS 
 FROM ENROLL
</select>

<!-- 가맹가입신청 상세페이지 -->
<select id="storeEnrollDetail" parameterType="com.s5.sand5rang.sangmi.vo.Enroll" resultMap="enrollResultSet">
SELECT STORE_NAME,PHONE, EMAIL, ENROLL_ADD, TITLE, CONTENT
FROM ENROLL
WHERE STATUS = 'B'
</select>

<!-- 문의 전체 리스트 조회 -->
<select id="inqueryList" parameterType="com.s5.sand5rang.sangmi.vo.Inquery" resultMap="inqueryResultSet">
SELECT INQ_NO,INQ_TITLE, INQ_DATE, INQ_QUERY, INQ_ANSWER, STATUS, ANS_DATE, CATEGORY, STORE_ID
FROM INQUERY
</select>


</mapper>
