<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="seinMapper">

	<resultMap type="com.s5.sand5rang.sein.vo.Ingredient" id="IngredientResultSet">
		<result column="ING_NO" property="ingNo"/>
		<result column="ING_NAME" property="ingName"/>
		<result column="PRICE" property="price"/>
		<result column="EXPIRATION" property="expiration"/>
		<result column="ING_TYPE" property="ingType"/>
	</resultMap>
	
	<resultMap type="com.s5.sand5rang.sein.vo.Order" id="TodyOrderResultSet">
		<result column="IND_NO" property="indNo"></result>
		<result column="COUNT" property="count"></result>
		<result column="IND_DATE" property="indDate"></result>
		<result column="TOTAL" property="total"></result>
		<result column="STATUS" property="status"></result>
		<result column="STORE_ID" property="storeId"></result>
		<result column="ING_NO" property="ingNo"></result>
		<result column="ING_NAME" property="ingName"></result>
		<result column="ING_TYPE" property="ingType"></result>
	</resultMap>

	<!-- 원재료 전체 조회 select -->
	<!-- <select id="selectIngredient" resultMap="IngredientResultSet">
		SELECT ING_NO, ING_NAME, PRICE, EXPIRATION, ING_TYPE 
		FROM INGREDIENT
	</select> -->
	
	<!-- 발주insert -->
	<insert id="insertOrder" parameterType="order">
		INSERT INTO INDENT(IND_NO, 
                    		COUNT, 
                    		IND_DATE, 
                    		TOTAL, 
                    		STATUS,
                    		STORE_ID,
                    		ING_NO)  
					VALUES(SEQ_INDENTNO.NEXTVAL, 
						 #{count}, 
						 SYSDATE, 
						 #{total}, 
						 #{status}, 
						 'GUM01', 
						 #{ingNo})
	</insert>
	
	<!-- 발주상세조회 select -->
	<select id="selectTodayOrder" resultMap="TodyOrderResultSet">
		SELECT IND_NO, COUNT, IND_DATE, TOTAL, STATUS, STORE_ID, ING_NO, ING_NAME, ING_TYPE
		FROM INDENT JOIN INGREDIENT USING(ING_NO) 
		WHERE STORE_ID = 'GUM01' 
		      AND TO_CHAR(IND_DATE, 'YY-MM-DD') = TO_CHAR(SYSDATE, 'YY-MM-DD') 
		ORDER BY ING_NO ASC
	</select>

	<!-- 발주전체조회 select -->
	<select id="selectAllOrderList" resultMap="TodyOrderResultSet">
		
	
	</select>
</mapper>
