<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="seinMapper">

	<resultMap type="com.s5.sand5rang.sein.vo.Ingredient" id="IngredientResultSet">
		<result column="ING_NO" property="ingNo"/>
		<result column="ING_NAME" property="ingName"/>
		<result column="PRICE" property="price"/>
		<result column="EXPIRATION" property="expiration"/>
		<result column="ING_TYPE" property="ingType"/>
	</resultMap>

	<!-- 원재료 전체 조회 select -->
	<!-- <select id="selectIngredient" resultMap="IngredientResultSet">
		SELECT ING_NO, ING_NAME, PRICE, EXPIRATION, ING_TYPE 
		FROM INGREDIENT
	</select> -->
	
	<insert id="insertOrder" parameterType="order">
		INSERT INTO INDENT(IND_NO, 
                    		COUNT, 
                    		IND_DATE, 
                    		TOTAL, 
                    		STATUS,
                    		STORE_ID,
                    		ING_NO)  
					VALUES(SEQ_INDENTNO.NEXTVAL, 
						 #{count}, 
						 SYSDATE, 
						 #{total}, 
						 #{status}, 
						 'GUM01', 
						 #{ingNo})
	</insert>

</mapper>
