<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="seonghoonMapper">

	<!-- Menu -->
	<resultMap id="MenuResultMap" type="com.s5.sand5rang.seonghoon.vo.Menu">
		<result column="MEN_NAME" property="menName"/>
		<result column="MEN_NO" property="menNo"/>
		<result column="MDATE" property="date"/>
		<result column="PRICE" property="price"/>
	</resultMap>
	
	<!-- Ingredient -->
	<resultMap id="IngredientResultMap" type="com.s5.sand5rang.seonghoon.vo.Ingredient">
		<result column="ING_NO" property="ingNo"/>
		<result column="ING_NAME" property="ingName"/>
		<result column="ING_TYPE" property="ingType"/>		
		<result column="EXPIRATION" property="expiration"/>		
	</resultMap>
	
	<!-- Stock -->
	<resultMap id="StockResultMap" type="com.s5.sand5rang.seonghoon.vo.Stock">
		<result column="COUNT" property="count"/>
		<result column="ING_NO" property="ingNo"/>
		<result column="ING_NAME" property="ingName"/>
		<result column="STO_DATE" property="stoDate"/>
		<result column="ING_TYPE" property="ingType"/>
		<result column="STORE_ID" property="storeId"/>
		<result column="STORE_NAME" property="storeName"/>
	</resultMap>
	
	<!-- Flow -->
	<resultMap id="FlowResultMap" type="com.s5.sand5rang.seonghoon.vo.Flow">
		<result column="FLO_NO" property="floNo"/>
		<result column="COUNT" property="count"/>
		<result column="FLO_DATE" property="floDate"/>
		<result column="STATUS" property="status"/>
		<result column="STORE_ID" property="storeId"/>
		<result column="ING_NO" property="ingNo"/>
		<result column="ING_TYPE" property="ingType"/>
	</resultMap>
	
	<!-- Sales -->
	<resultMap id="SalesResultMap" type="com.s5.sand5rang.seonghoon.vo.Sales">
		<result column="SAL_DATE" property="salDate"/>
		<result column="COUNT" property="count"/>
		<result column="TOTAL" property="total"/>
		<result column="MEN_NO" property="menNo"/>
	</resultMap>		
	
	
	<!-- *********************오늘의 재고 페이지******************** -->
	<!-- 원재료명, 원재료이미지 -->
	<select id="selectTodayStock1" resultMap="IngredientResultMap">
		SELECT ING_NO, ING_NAME, ING_TYPE
		FROM INGREDIENT
		WHERE ING_TYPE='B'
	</select>
	<select id="selectTodayStock2" resultMap="IngredientResultMap">
		SELECT ING_NO, ING_NAME, ING_TYPE
		FROM INGREDIENT
		WHERE ING_TYPE='V'
	</select>	
	<select id="selectTodayStock3" resultMap="IngredientResultMap">
		SELECT ING_NO, ING_NAME, ING_TYPE
		FROM INGREDIENT
		WHERE ING_TYPE='M'
	</select>
	<select id="selectTodayStock4" resultMap="IngredientResultMap">
		SELECT ING_NO, ING_NAME, ING_TYPE
		FROM INGREDIENT
		WHERE ING_TYPE='S'
	</select>
	<select id="selectTodayStock5" resultMap="IngredientResultMap">
		SELECT ING_NO, ING_NAME, ING_TYPE
		FROM INGREDIENT
		WHERE ING_TYPE='C'
	</select>
	
	<!-- 원재료 현재재고 -->
	<select id="selectStock1" resultMap="StockResultMap">
		SELECT ING_NO, SUM(COUNT)"COUNT"
		FROM INGREDIENT
		JOIN STOCK USING(ING_NO)
		WHERE ING_TYPE='B'
		GROUP BY ING_NO
	</select>
	<select id="selectStock2" resultMap="StockResultMap">
		SELECT ING_NO, SUM(COUNT)"COUNT"
		FROM INGREDIENT
		JOIN STOCK USING(ING_NO)
		WHERE ING_TYPE='V'
		GROUP BY ING_NO
	</select>
	<select id="selectStock3" resultMap="StockResultMap">
		SELECT ING_NO, SUM(COUNT)"COUNT"
		FROM INGREDIENT
		JOIN STOCK USING(ING_NO)
		WHERE ING_TYPE='M'
		GROUP BY ING_NO
	</select>
	<select id="selectStock4" resultMap="StockResultMap">
		SELECT ING_NO, SUM(COUNT)"COUNT"
		FROM INGREDIENT
		JOIN STOCK USING(ING_NO)
		WHERE ING_TYPE='S'
		GROUP BY ING_NO
	</select>
	<select id="selectStock5" resultMap="StockResultMap">
		SELECT ING_NO, SUM(COUNT)"COUNT"
		FROM INGREDIENT
		JOIN STOCK USING(ING_NO)
		WHERE ING_TYPE='C'
		GROUP BY ING_NO
	</select>
	
	<!-- 원재료 유통기한 -->
	<select id="selectExpDate1" resultMap="StockResultMap">
		SELECT ING_NO, MIN(A.STO_DATE)"STO_DATE"
		FROM 
		    (
		    SELECT ROWNUM, ING_NO, STO_DATE
		    FROM STOCK S
		    JOIN INGREDIENT USING(ING_NO)
		    WHERE S.STATUS='N'
		    AND ING_TYPE='B'
		    ORDER BY STO_DATE ASC
		    )"A"
		GROUP BY ING_NO
	</select>		
	<select id="selectExpDate2" resultMap="StockResultMap">
		SELECT ING_NO, MIN(A.STO_DATE)"STO_DATE"
		FROM 
		    (
		    SELECT ROWNUM, ING_NO, STO_DATE
		    FROM STOCK S
		    JOIN INGREDIENT USING(ING_NO)
		    WHERE S.STATUS='N'
		    AND ING_TYPE='V'
		    ORDER BY STO_DATE ASC
		    )"A"
		GROUP BY ING_NO
	</select>		
	<select id="selectExpDate3" resultMap="StockResultMap">
		SELECT ING_NO, MIN(A.STO_DATE)"STO_DATE"
		FROM 
		    (
		    SELECT ROWNUM, ING_NO, STO_DATE
		    FROM STOCK S
		    JOIN INGREDIENT USING(ING_NO)
		    WHERE S.STATUS='N'
		    AND ING_TYPE='M'
		    ORDER BY STO_DATE ASC
		    )"A"
		GROUP BY ING_NO
	</select>		
	<select id="selectExpDate4" resultMap="StockResultMap">
		SELECT ING_NO, MIN(A.STO_DATE)"STO_DATE"
		FROM 
		    (
		    SELECT ROWNUM, ING_NO, STO_DATE
		    FROM STOCK S
		    JOIN INGREDIENT USING(ING_NO)
		    WHERE S.STATUS='N'
		    AND ING_TYPE='S'
		    ORDER BY STO_DATE ASC
		    )"A"
		GROUP BY ING_NO
	</select>		
	<select id="selectExpDate5" resultMap="StockResultMap">
		SELECT ING_NO, MIN(A.STO_DATE)"STO_DATE"
		FROM 
		    (
		    SELECT ROWNUM, ING_NO, STO_DATE
		    FROM STOCK S
		    JOIN INGREDIENT USING(ING_NO)
		    WHERE S.STATUS='N'
		    AND ING_TYPE='C'
		    ORDER BY STO_DATE ASC
		    )"A"
		GROUP BY ING_NO
	</select>		
	<!-- ******************** 제품 판매 현황 ********************* -->					
	<select id="menuSalesListCount" resultType="_int">
		SELECT COUNT(*)
		FROM SALES
		WHERE STORE_ID = 
	</select>					
	
	<select id="selectMenuSalesList" resultMap="SalesResultMap">
		SELECT SAL_DATE, SUM(COUNT)"COUNT", SUM(TOTAL)"TOTAL"
		FROM SALES
		GROUP BY SAL_DATE
		ORDER BY SAL_DATE DESC
	</select>
						
	<!-- *********************판매 기입 페이지******************** -->
	<insert id="insertSales" parameterType="com.s5.sand5rang.seonghoon.vo.Menu">
		INSERT INTO SALES(SAL_NO, SAL_DATE, COUNT, TOTAL, STORE_ID, MEN_NO)
		VALUES(SEQ_SALESNO.NEXTVAL, SYSDATE, #{count}, #{total}, 'admin', #{menNo})
	</insert>
	
	<select id="selectIngMen" parameterType="_int" resultMap="IngredientResultMap">
		SELECT ING_NO, EXPIRATION 
		FROM COMBINATION 
		JOIN INGREDIENT USING(ING_NO) 
		WHERE MEN_NO = #{menNo} 
	</select>
	
	<insert id="insertFlow" parameterType="com.s5.sand5rang.seonghoon.vo.Ingredient">
		INSERT INTO FLOW
		VALUES(
		SEQ_FLOWNO.NEXTVAL, 
		#{count}, 
		SYSDATE, 
		'O', 
		'admin', 
		#{ingNo}
		)
	</insert>
	
	<select id="getExp" parameterType="com.s5.sand5rang.seonghoon.vo.Ingredient" resultType="_int">
		SELECT NVL(SUM(COUNT), 0) COUNT
		FROM STOCK
		WHERE
		TO_CHAR(STO_DATE, 'YYMMDD') = TO_CHAR(SYSDATE-#{index}, 'YYMMDD') AND 
		ING_NO = #{ingNo} AND
		STORE_ID = '15'
	</select>
	
	<update id="updateStock" parameterType="com.s5.sand5rang.seonghoon.vo.Ingredient">
		UPDATE STOCK 
		SET COUNT = #{use} 
		WHERE  
		TO_CHAR(STO_DATE, 'YYMMDD') = TO_CHAR(SYSDATE-#{index}, 'YYMMDD') AND 
		ING_NO = #{ingNo} AND 
		STORE_ID = '15' 
	</update>
	
	<!-- *****************전체 재고현황 ***************** -->
	<!-- 재고합계 -->
	<select id="selectSumStock" resultMap="StockResultMap">
		SELECT ING_TYPE,SUM(COUNT)"COUNT"
		FROM STOCK
		JOIN INGREDIENT USING(ING_NO)
		GROUP BY ING_TYPE
	</select>
	
	<!-- 재고현황 -->
	<select id="selectInFlow" resultMap="FlowResultMap">
		SELECT ING_TYPE, FLO_DATE,SUM(COUNT)"COUNT"
		FROM FLOW
		JOIN INGREDIENT USING(ING_NO)
		WHERE STATUS='I'
		GROUP BY ING_TYPE, FLO_DATE	
	</select>
	<select id="selectOutFlow" resultMap="FlowResultMap">
		SELECT ING_TYPE, FLO_DATE,SUM(COUNT)"COUNT"
		FROM FLOW
		JOIN INGREDIENT USING(ING_NO)
		WHERE STATUS='O'
		GROUP BY ING_TYPE, FLO_DATE	
	</select>
	
	<!-- ****************** 재료별 재고현황 ********************** -->
	<select id="selectSearchIng" parameterType="hashmap" resultMap="StockResultMap">
		SELECT STORE_NAME, ING_NAME, COUNT, TO_CHAR(STO_DATE,'YY-MM-DD')"STO_DATE"
		FROM STOCK
		JOIN INGREDIENT USING(ING_NO)
		JOIN STORE USING(STORE_ID)
		WHERE ING_NAME = #{search}
	</select>
	
</mapper>
