<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="seonghoonMapper">

	<!-- Menu -->
	<resultMap id="MenuResultMap" type="com.s5.sand5rang.seonghoon.vo.Menu">
		<result column="MEN_NAME" property="menName"/>
		<result column="MEN_NO" property="menNo"/>
		<result column="MDATE" property="date"/>
		<result column="PRICE" property="price"/>
	</resultMap>
	
	<!-- Ingredient -->
	<resultMap id="IngredientResultMap" type="com.s5.sand5rang.seonghoon.vo.Ingredient">
		<result column="ING_NO" property="ingNo"/>
		<result column="ING_NAME" property="ingName"/>
		<result column="ING_TYPE" property="ingType"/>		
		<result column="EXPIRATION" property="expiration"/>		
	</resultMap>
	
	<!-- Stock -->
	<resultMap id="StockResultMap" type="com.s5.sand5rang.seonghoon.vo.Stock">
		<result column="COUNT" property="count"/>
		<result column="ING_NO" property="ingNo"/>
		<result column="ING_NAME" property="ingName"/>
		<result column="STO_DATE" property="stoDate"/>
		<result column="ING_TYPE" property="ingType"/>
		<result column="STORE_ID" property="storeId"/>
		<result column="STORE_NAME" property="storeName"/>
	</resultMap>
	
	<!-- Flow -->
	<resultMap id="FlowResultMap" type="com.s5.sand5rang.seonghoon.vo.Flow">
		<result column="FLO_NO" property="floNo"/>
		<result column="COUNT" property="count"/>
		<result column="FLO_DATE" property="floDate"/>
		<result column="STATUS" property="status"/>
		<result column="STORE_ID" property="storeId"/>
		<result column="ING_NO" property="ingNo"/>
		<result column="ING_TYPE" property="ingType"/>
	</resultMap>
	
	<!-- Sales -->
	<resultMap id="SalesResultMap" type="com.s5.sand5rang.seonghoon.vo.Sales">
		<result column="SAL_DATE" property="salDate"/>
		<result column="COUNT" property="count"/>
		<result column="TOTAL" property="total"/>
		<result column="MEN_NO" property="menNo"/>
		<result column="STORE_ID" property="storeId"/>
		<result column="TO_CHAR(SAL_DATE,'YY.MM.DD')" property="salDate"/>
	</resultMap>		
	
	
	<!-- *********************오늘의 재고 페이지******************** -->
	<select id="selectStoreId_list" parameterType="string" resultType="_int">
		SELECT COUNT(STORE_ID)"STORE_ID"
		FROM STOCK
		WHERE STORE_ID = #{storeId}
	</select>
	
	<!-- 원재료명, 원재료이미지 -->
	<select id="selectTodayStock1" resultMap="IngredientResultMap">
		SELECT ING_NO, ING_NAME, ING_TYPE
		FROM INGREDIENT
		WHERE ING_TYPE='B'
	</select>
	<select id="selectTodayStock2" resultMap="IngredientResultMap">
		SELECT ING_NO, ING_NAME, ING_TYPE
		FROM INGREDIENT
		WHERE ING_TYPE='V'
	</select>	
	<select id="selectTodayStock3" resultMap="IngredientResultMap">
		SELECT ING_NO, ING_NAME, ING_TYPE
		FROM INGREDIENT
		WHERE ING_TYPE='M'
	</select>
	<select id="selectTodayStock4" resultMap="IngredientResultMap">
		SELECT ING_NO, ING_NAME, ING_TYPE
		FROM INGREDIENT
		WHERE ING_TYPE='S'
	</select>
	<select id="selectTodayStock5" resultMap="IngredientResultMap">
		SELECT ING_NO, ING_NAME, ING_TYPE
		FROM INGREDIENT
		WHERE ING_TYPE='C'
	</select>
	
	<!-- 원재료 현재재고 -->
	<select id="selectStock1" parameterType="string" resultMap="StockResultMap">
 		SELECT ING_NO, ING_TYPE, NVL(SUM(COUNT),0)"COUNT"
        FROM STOCK S
        JOIN INGREDIENT USING(ING_NO)
		WHERE ING_TYPE='B'
        AND STORE_ID = #{storeId}
        AND TO_CHAR(STO_DATE,'yy.MM.dd') > TO_CHAR(SYSDATE-2,'yy.MM.dd')
        AND S.STATUS= 'O' 
		GROUP BY ING_NO, ING_TYPE
	</select>
	<select id="selectStock2" parameterType="string" resultMap="StockResultMap">
		SELECT ING_NO, ING_TYPE, NVL(SUM(COUNT),0)"COUNT"
        FROM STOCK S
        JOIN INGREDIENT USING(ING_NO)
		WHERE ING_TYPE='V'
        AND STORE_ID = #{storeId}
        AND TO_CHAR(STO_DATE,'yy.MM.dd') > TO_CHAR(SYSDATE-2,'yy.MM.dd')
        AND S.STATUS= 'O' 
		GROUP BY ING_NO, ING_TYPE
	</select>
	<select id="selectStock3" parameterType="string" resultMap="StockResultMap">
		SELECT ING_NO, ING_TYPE, NVL(SUM(COUNT),0)"COUNT"
        FROM STOCK S
        JOIN INGREDIENT USING(ING_NO)
		WHERE ING_TYPE='M'
        AND STORE_ID = #{storeId}
        AND TO_CHAR(STO_DATE,'yy.MM.dd') > TO_CHAR(SYSDATE-7,'yy.MM.dd')
        AND S.STATUS= 'O'        		
		GROUP BY ING_NO, ING_TYPE
	</select>
	<select id="selectStock4" parameterType="string" resultMap="StockResultMap">
		SELECT ING_NO, ING_TYPE, NVL(SUM(COUNT),0)"COUNT"
        FROM STOCK S
        JOIN INGREDIENT USING(ING_NO)
		WHERE ING_TYPE='S'
        AND STORE_ID = #{storeId}	
        AND TO_CHAR(STO_DATE,'yy.MM.dd') > TO_CHAR(SYSDATE-14,'yy.MM.dd')
        AND S.STATUS= 'O'         	
		GROUP BY ING_NO, ING_TYPE
	</select>
	<select id="selectStock5" parameterType="string" resultMap="StockResultMap">
		SELECT ING_NO, ING_TYPE, NVL(SUM(COUNT),0)"COUNT"
        FROM STOCK S
        JOIN INGREDIENT USING(ING_NO)
		WHERE ING_TYPE='C'
        AND STORE_ID = #{storeId}		
        AND TO_CHAR(STO_DATE,'yy.MM.dd') > TO_CHAR(SYSDATE-7,'yy.MM.dd')
        AND S.STATUS= 'O'         
		GROUP BY ING_NO, ING_TYPE
	</select>
	
	<!-- 원재료 유통기한 -->
	<select id="selectExpDate1" parameterType="string" resultMap="StockResultMap">
		SELECT ING_NO, TO_CHAR(MIN(A.STO_DATE),'yy.MM.dd')"STO_DATE"		
		FROM 
		    (
		    SELECT ROWNUM, ING_NO, STO_DATE
		    FROM STOCK S
		    JOIN INGREDIENT USING(ING_NO)
		    WHERE S.STATUS='N'
		    AND ING_TYPE='B'
            AND STORE_ID = #{storeId}
		    ORDER BY STO_DATE ASC
		    )"A"
		GROUP BY ING_NO
	</select>		
	<select id="selectExpDate2" parameterType="string"  resultMap="StockResultMap">
		SELECT ING_NO, TO_CHAR(MIN(A.STO_DATE),'yy.MM.dd')"STO_DATE"	
		FROM 
		    (
		    SELECT ROWNUM, ING_NO, STO_DATE
		    FROM STOCK S
		    JOIN INGREDIENT USING(ING_NO)
		    WHERE S.STATUS='N'
		    AND ING_TYPE='V'
            AND STORE_ID = #{storeId}		    
		    ORDER BY STO_DATE ASC
		    )"A"
		GROUP BY ING_NO
	</select>		
	<select id="selectExpDate3" parameterType="string"  resultMap="StockResultMap">
		SELECT ING_NO, TO_CHAR(MIN(A.STO_DATE),'yy.MM.dd')"STO_DATE"	
		FROM 
		    (
		    SELECT ROWNUM, ING_NO, STO_DATE
		    FROM STOCK S
		    JOIN INGREDIENT USING(ING_NO)
		    WHERE S.STATUS='N'
		    AND ING_TYPE='M'
            AND STORE_ID = #{storeId}		    
		    ORDER BY STO_DATE ASC
		    )"A"
		GROUP BY ING_NO
	</select>		
	<select id="selectExpDate4" parameterType="string"  resultMap="StockResultMap">
		SELECT ING_NO, TO_CHAR(MIN(A.STO_DATE),'yy.MM.dd')"STO_DATE"	
		FROM 
		    (
		    SELECT ROWNUM, ING_NO, STO_DATE
		    FROM STOCK S
		    JOIN INGREDIENT USING(ING_NO)
		    WHERE S.STATUS='N'
		    AND ING_TYPE='S'
            AND STORE_ID = #{storeId}		    
		    ORDER BY STO_DATE ASC
		    )"A"
		GROUP BY ING_NO
	</select>		
	<select id="selectExpDate5" parameterType="string"  resultMap="StockResultMap">
		SELECT ING_NO, TO_CHAR(MIN(A.STO_DATE),'yy.MM.dd')"STO_DATE"	
		FROM 
		    (
		    SELECT ROWNUM, ING_NO, STO_DATE
		    FROM STOCK S
		    JOIN INGREDIENT USING(ING_NO)
		    WHERE S.STATUS='N'
		    AND ING_TYPE='C'
            AND STORE_ID = #{storeId}		    
		    ORDER BY STO_DATE ASC
		    )"A"
		GROUP BY ING_NO
	</select>		
	
	<!-- ******************** 제품 판매 현황 ********************* -->					
	<select id="menuSalesListCount" parameterType="string" resultType="_int">
        SELECT COUNT(*)
        FROM 
        (
            SELECT TO_CHAR(SAL_DATE,'yy.MM.dd'), STORE_ID, ROW_NUMBER() OVER(PARTITION BY TO_CHAR(SAL_DATE,'yy.MM.dd') ORDER BY TO_CHAR(SAL_DATE,'yy.MM.dd') DESC) "RN"
            FROM SALES
            WHERE STORE_ID = #{storeId}
        )
        WHERE RN=1
	</select>					
	
	<select id="selectMenuSalesList1" parameterType="string" resultMap="SalesResultMap">
		SELECT TO_CHAR(SAL_DATE,'yy.MM.dd'), STORE_ID, SUM(COUNT)"COUNT", SUM(TOTAL)"TOTAL"
		FROM SALES
        WHERE STORE_ID = #{storeId}
        GROUP BY TO_CHAR(SAL_DATE,'yy.MM.dd'), STORE_ID
		ORDER BY TO_CHAR(SAL_DATE,'yy.MM.dd') DESC
	</select>
	
	<select id="MenuSalDate_List" parameterType="com.s5.sand5rang.seonghoon.vo.Sales" resultMap="SalesResultMap">
 		SELECT MEN_NO, SUM(COUNT)"COUNT"
		FROM SALES
        WHERE SAL_DATE = #{salDate}
        AND STORE_ID = #{storeId}
        GROUP BY MEN_NO 
        ORDER BY MEN_NO     		
	</select>
						
	<!-- *********************판매 기입 페이지******************** -->
	<insert id="insertSales" parameterType="com.s5.sand5rang.seonghoon.vo.Menu">
		INSERT INTO SALES(SAL_NO, SAL_DATE, COUNT, TOTAL, STORE_ID, MEN_NO)
		VALUES(SEQ_SALESNO.NEXTVAL, SYSDATE, #{count}, #{total}, #{storeId}, #{menNo})
	</insert>
	
	<select id="selectIngMen" parameterType="_int" resultMap="IngredientResultMap">
		SELECT ING_NO, EXPIRATION 
		FROM COMBINATION 
		JOIN INGREDIENT USING(ING_NO) 
		WHERE MEN_NO = #{menNo} 
	</select>
	
	<insert id="insertFlow" parameterType="com.s5.sand5rang.seonghoon.vo.Ingredient">
		INSERT INTO FLOW
		VALUES(
		SEQ_FLOWNO.NEXTVAL, 
		#{count}, 
		SYSDATE, 
		'O', 
		#{storeId}, 
		#{ingNo}
		)
	</insert>
	
	<select id="getExp" parameterType="com.s5.sand5rang.seonghoon.vo.Ingredient" resultType="_int">
		SELECT NVL(SUM(COUNT), 0) COUNT
		FROM STOCK
		WHERE
		TO_CHAR(STO_DATE, 'YYMMDD') = TO_CHAR(SYSDATE-#{index}, 'YYMMDD') AND 
		ING_NO = #{ingNo} AND
		STORE_ID = #{storeId}
	</select>
	
	<update id="updateStock" parameterType="com.s5.sand5rang.seonghoon.vo.Ingredient">
		UPDATE STOCK 
		SET COUNT = #{use} 
		WHERE  
		TO_CHAR(STO_DATE, 'YYMMDD') = TO_CHAR(SYSDATE-#{index}, 'YYMMDD') AND 
		ING_NO = #{ingNo} AND 
		STORE_ID = #{storeId} 
	</update>
	
	<!-- *****************전체 재고현황 ***************** -->
	<!-- 재고합계 -->
	<select id="selectSumStock" resultMap="StockResultMap">
		SELECT ING_TYPE,SUM(COUNT)"COUNT"
		FROM STOCK
		JOIN INGREDIENT USING(ING_NO)
		GROUP BY ING_TYPE
	</select>
	
	<!-- 재고현황 -->
	<select id="selectInFlow" resultMap="FlowResultMap">
		SELECT ING_TYPE, FLO_DATE,SUM(COUNT)"COUNT"
		FROM FLOW
		JOIN INGREDIENT USING(ING_NO)
		WHERE STATUS='I'
		GROUP BY ING_TYPE, FLO_DATE	
	</select>
	<select id="selectOutFlow" resultMap="FlowResultMap">
		SELECT ING_TYPE, FLO_DATE,SUM(COUNT)"COUNT"
		FROM FLOW
		JOIN INGREDIENT USING(ING_NO)
		WHERE STATUS='O'
		GROUP BY ING_TYPE, FLO_DATE	
	</select>
	
	<!-- ****************** 재료별 재고현황 ********************** -->
	<select id="ingListcount" parameterType="hashmap" resultType="_int">
        SELECT COUNT(*)
        FROM 
        (
            SELECT TO_CHAR(STO_DATE,'yy.MM.dd'), ROW_NUMBER() OVER(PARTITION BY TO_CHAR(STO_DATE,'yy.MM.dd') ORDER BY TO_CHAR(STO_DATE,'yyMMdd') DESC) "RN"
            FROM STOCK S
            JOIN INGREDIENT USING(ING_NO)
            WHERE STORE_ID = #{storeId}
            AND ING_TYPE= #{ingType}
            AND ING_NAME= #{ingName}
		    AND TO_CHAR(STO_DATE,'yy.MM.dd') > TO_CHAR(SYSDATE-EXPIRATION, 'yy.MM.dd')
            AND S.STATUS = 'O'
        )
        WHERE RN=1	
	</select>		
	
	<select id="selectSortIngredient" parameterType="hashmap" resultMap="StockResultMap">
        SELECT TO_CHAR(STO_DATE,'yy.MM.dd')"STO_DATE",ING_NAME,ING_TYPE, COUNT 
        FROM STOCK S
        JOIN INGREDIENT USING(ING_NO)
        WHERE S.STATUS = 'O'
        AND STORE_ID = #{storeId}
        AND ING_TYPE= #{ingType}
        AND ING_NAME= #{ingName}	
		AND TO_CHAR(STO_DATE,'yy.MM.dd') > TO_CHAR(SYSDATE-EXPIRATION, 'yy.MM.dd')        
       	ORDER BY STO_DATE DESC
	</select>
	
	<!-- **************************** 폐기 관리 ************************************* -->
	<select id="disposalListCount" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*)
        FROM 
        (
            SELECT ING_TYPE, TO_CHAR(STO_DATE,'yy.MM.dd')"STO_DATE", ROW_NUMBER() OVER(PARTITION BY TO_CHAR(STO_DATE,'yyMMdd') ORDER BY TO_CHAR(STO_DATE,'yyMMdd') DESC) "RN"
            FROM STOCK S
            JOIN INGREDIENT USING(ING_NO)
            WHERE STORE_ID = #{storeId}
            AND ING_TYPE= #{ingType}
            AND ING_NAME= #{ingName}
            AND S.STATUS = 'O'
		    AND TO_CHAR(STO_DATE,'yy.MM.dd') <![CDATA[<=]]> TO_CHAR(SYSDATE-EXPIRATION, 'yy.MM.dd')
        )
        WHERE RN=1
	</select>
	<select id="selectDisposalList" parameterType="hashmap" resultMap="StockResultMap">
        SELECT TO_CHAR(STO_DATE,'yy.MM.dd')"STO_DATE",ING_NAME,ING_TYPE, COUNT 
        FROM STOCK S
        JOIN INGREDIENT USING(ING_NO)
        WHERE S.STATUS = 'O'
        AND STORE_ID = #{storeId}
        AND ING_TYPE= #{ingType}
        AND ING_NAME= #{ingName}	
		AND TO_CHAR(STO_DATE,'yy.MM.dd') <![CDATA[<=]]> TO_CHAR(SYSDATE-EXPIRATION, 'yy.MM.dd')        
       	ORDER BY STO_DATE DESC		
	</select>
</mapper>
